[submodule "dependencies/versavis_hw"]
	path = dependencies/versavis_hw
	url = git@github.com:ethz-asl/versavis_hw.git
[submodule "firmware/libraries/RTClib"]
	path = firmware/libraries/RTClib
	url = git@github.com:adafruit/RTClib.git
[submodule "firmware/libraries/Embedded_RingBuf_CPP"]
	path = firmware/libraries/Embedded_RingBuf_CPP
	url = https://github.com/rikba/Embedded_RingBuf_CPP.git
[submodule "firmware/libraries/SAMD_DMA_Helper"]
	path = firmware/libraries/SAMD_DMA_Helper
	url = https://github.com/rikba/SAMD_DMA_Helper.git
