<?xml version="1.0"?>

<launch>
  <!-- camera name prefix -->
  <arg name="camera_name" default="bfly"/>
  <arg name="camera_info_url" default="file://$(find versavis)/cfg/$(arg camera_name).yaml"/>
  <arg name="rate" default="2"/>
  <arg name="throttle" default="1"/>
  <arg name="ns" default=""/>
  <arg name="output" default="log"/>
  <arg name="image_transport" default="true"/>

  <group ns="$(arg ns)">
    <!-- Camera driver. -->
    <group ns="$(arg camera_name)">

      <!-- Nodelet manager -->
      <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" cwd="node" output="$(arg output)" respawn="true"/>

      <!-- Camera nodelet -->
      <node pkg="nodelet" type="nodelet" name="spinnaker_camera_nodelet" args="load spinnaker_camera_driver/SpinnakerCameraNodelet camera_nodelet_manager" output="$(arg output)" respawn="true">

        <param name="frame_id" value="$(arg camera_name)"/>

        <!-- Trigger related config -->
        <param name="trigger_source" value="Line0"/>
        <!-- Pin 2 -->
        <param name="enable_trigger" value="On"/>
        <param name="trigger_activation_mode" value="RisingEdge"/>
        <param name="trigger_overlap_mode" value="ReadOut"/>

        <!-- Expose related config -->
        <param name="exposure_mode" value="Timed"/>
        <param name="exposure_auto" value="Continuous"/>
        <param name="auto_exposure_time_upper_limit" value="32754.0"/>

        <param name="line_selector" value="Line1"/>
        <param name="line_mode" value="Output"/>
        <param name="line_source" value="ExposureActive"/>
        <param name="line_inverter" value="false"/>

        <param name="acquisition_frame_rate_enable" value="False"/>
        <param name="acquisition_frame_rate" value="20.0"/>

        <!-- Analog related config -->
        <param name="auto_gain" value="Continuous"/>
        <param name="gamma_enable" value="False"/>
        <param name="auto_white_balance" value="Continuous"/>

        <!-- Image format related config -->
        <param name="image_format_color_coding" value="BayerRG8"/>

        <!-- GigE settings -->
        <param name="auto_packet_size" value="True"/>
        <param name="packet_size" value="9000"/>
        <param name="packet_delay" value="1000"/>

        <!-- Use the camera_calibration package to create this file -->
        <param name="camera_info_url" value="$(arg camera_info_url)"/>
      </node>

      <!-- Camera relay. -->
      <node pkg="nodelet" type="nodelet" name="relay" args="load versavis/RelayNodelet camera_nodelet_manager" output="$(arg output)" respawn="true">
        <remap from="image_synced" to="synced/image_raw"/>
        <remap from="image_synced_throttle" to="synced_throttle/image_raw"/>
        <param name="camera_name" value="$(arg camera_name)"/>
        <param name="camera_info_url" value="$(arg camera_info_url)"/>
        <param name="rate" value="$(arg rate)"/>
        <param name="throttle" value="$(arg throttle)"/>
      </node>

      <group if="$(arg image_transport)">
        <!-- debayer -->
        <node pkg="nodelet" type="nodelet" name="debayer" args="load image_proc/debayer camera_nodelet_manager" output="$(arg output)" respawn="true">
          <remap from="image_raw" to="synced/image_raw"/>
          <remap from="image_mono" to="synced/image_mono"/>
          <remap from="image_color" to="synced/image_color"/>
        </node>

        <!-- rectify -->
        <node pkg="nodelet" type="nodelet" name="rectify" args="load image_proc/rectify camera_nodelet_manager" output="$(arg output)" respawn="true">
          <remap from="image_mono" to="synced/image_mono"/>
          <remap from="image_rect" to="synced/image_rect"/>
        </node>

        <!-- rectify color -->
        <node pkg="nodelet" type="nodelet" name="rectify_color" args="load image_proc/rectify camera_nodelet_manager" output="$(arg output)" respawn="true">
          <remap from="image_mono" to="synced/image_color"/>
          <remap from="image_rect" to="synced/image_rect_color"/>
        </node>
      </group>  

    </group>
  </group>
</launch>
